@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Instrument+Serif:ital@0;1&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


@font-face {
  font-family: "Melodrama";
  src: url("./assets/fonts/Melodrama-Semibold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@layer utilities {
  .font-melodrama {
    font-family: "Melodrama", serif;
  }
}
